Repository MicroStrategy/rest-api-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

.lintstagedrc:

{
  "*.md": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettiermarkdownrc",
    "yarn markdownlint",
    "yarn lint:sidebar"
  ],
  "*.js": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettierrc"
  ]
}

Merge document folder
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

2021 Update 10 release (#33)
  .env.enterprise
  .env.internal
  docs/common-workflows/administration/manage-application-objects/manage-application-themes.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/edit-migrations-and-migration-groups.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/object-migration-groups-between-environments.md
  docs/common-workflows/analytics/filter-data/filter-dossier-instances/apply-filters-to-a-dossier.md
  docs/common-workflows/analytics/manage-documents/get-document-list/get-document-list.md
  docs/common-workflows/analytics/manage-documents/manage-documents.md
  docs/common-workflows/analytics/manage-documents/retrieve-document/retrieve-the-hierarchy-of-a-document.md
  docs/common-workflows/analytics/manage-dossiers/create-instance/create-instance.md
  docs/common-workflows/analytics/manage-dossiers/manage-dossiers.md
  docs/common-workflows/analytics/manage-insights/create-kpi.md
  docs/common-workflows/analytics/manage-insights/delete-kpi.md
  docs/common-workflows/analytics/manage-insights/get-kpi.md
  docs/common-workflows/analytics/manage-insights/manage-kpi-and-insights.md
  docs/common-workflows/analytics/manage-insights/modify-kpi.md
  docs/common-workflows/analytics/manage-insights/retrieve-all-insights.md
  docs/common-workflows/analytics/manage-insights/retrieve-an-insight.md
  docs/common-workflows/analytics/manage-insights/retrieve-insight-preferences.md
  docs/common-workflows/analytics/manage-insights/update-insight-preferences.md
  docs/common-workflows/analytics/manage-insights/update-insight-status.md
  docs/common-workflows/analytics/object-discovery/folder-browsing.md
  docs/common-workflows/modeling/common-object-management/change-ownership.md
  docs/whats-new.md
  postman.json
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update for 2021 Update 11 release
  docs/common-workflows/administration/manage-application-objects/manage-application-customized-emails.md
  docs/common-workflows/administration/manage-application-objects/manage-application-general-settings.md
  docs/common-workflows/administration/manage-application-objects/manage-application-themes.md
  docs/common-workflows/administration/manage-content-group-objects/create-a-content-group.md
  docs/common-workflows/administration/manage-content-group-objects/update-a-content-group.md
  docs/common-workflows/administration/manage-content-group-objects/update-contents-of-an-existing-content-group.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/validate-migrations.md
  docs/common-workflows/administration/monitors/manage-an-intelligence-server-cluster.md
  docs/common-workflows/administration/monitors/manage-caches.md
  docs/common-workflows/administration/monitors/project-administration.md
  docs/common-workflows/administration/server-management/manage-languages.md
  docs/common-workflows/administration/server-management/manage-server-settings.md
  docs/common-workflows/administration/server-management/server-level-privileges/manage-server-level-privileges.md
  docs/common-workflows/administration/user-management/create-and-update-user-groups.md
  docs/common-workflows/administration/user-management/create-security-roles.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/execute-report.md
  docs/common-workflows/analytics/project-management/manage-project-load-settings-on-server-startup.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-dataset-sql.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-report-or-card-sql.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-visualization-query-details.md
  docs/common-workflows/modeling/manage-attribute-objects/create-an-attribute-object.md
  docs/common-workflows/modeling/manage-attribute-objects/update-an-attributes-definition.md
  docs/common-workflows/modeling/manage-fact-objects/create-a-fact-object.md
  docs/common-workflows/modeling/manage-fact-objects/update-a-fact-object.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-partition-mapping-table-object.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-table-object.md
  docs/common-workflows/modeling/manage-table-objects/manage-table-objects.md
  docs/common-workflows/modeling/manage-table-objects/update-a-partition-mapping-tables-definition.md
  docs/common-workflows/modeling/manage-table-objects/update-a-tables-physical-table-structure.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update for 2021 Update 11 release (#34)
  docs/common-workflows/administration/manage-application-objects/manage-application-customized-emails.md
  docs/common-workflows/administration/manage-application-objects/manage-application-general-settings.md
  docs/common-workflows/administration/manage-application-objects/manage-application-themes.md
  docs/common-workflows/administration/manage-content-group-objects/create-a-content-group.md
  docs/common-workflows/administration/manage-content-group-objects/update-a-content-group.md
  docs/common-workflows/administration/manage-content-group-objects/update-contents-of-an-existing-content-group.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/validate-migrations.md
  docs/common-workflows/administration/monitors/manage-an-intelligence-server-cluster.md
  docs/common-workflows/administration/monitors/manage-caches.md
  docs/common-workflows/administration/monitors/project-administration.md
  docs/common-workflows/administration/server-management/manage-languages.md
  docs/common-workflows/administration/server-management/manage-server-settings.md
  docs/common-workflows/administration/server-management/server-level-privileges/manage-server-level-privileges.md
  docs/common-workflows/administration/user-management/create-and-update-user-groups.md
  docs/common-workflows/administration/user-management/create-security-roles.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/execute-report.md
  docs/common-workflows/analytics/project-management/manage-project-load-settings-on-server-startup.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-dataset-sql.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-report-or-card-sql.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-visualization-query-details.md
  docs/common-workflows/modeling/manage-attribute-objects/create-an-attribute-object.md
  docs/common-workflows/modeling/manage-attribute-objects/update-an-attributes-definition.md
  docs/common-workflows/modeling/manage-fact-objects/create-a-fact-object.md
  docs/common-workflows/modeling/manage-fact-objects/update-a-fact-object.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-partition-mapping-table-object.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-table-object.md
  docs/common-workflows/modeling/manage-table-objects/manage-table-objects.md
  docs/common-workflows/modeling/manage-table-objects/update-a-partition-mapping-tables-definition.md
  docs/common-workflows/modeling/manage-table-objects/update-a-tables-physical-table-structure.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

fix style
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Fix URL reference
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update manage-caches.md
  docs/common-workflows/administration/monitors/manage-caches.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update documentation
  docs/common-workflows/administration/distribution-services/manage-subscriptions/create-subscription-with-prompted-content.md
  docs/common-workflows/administration/manage-history-lists/get-history-list/get-history-list.md
  docs/common-workflows/administration/manage-history-lists/manage-history-lists.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/edit-migrations-and-migration-groups.md
  docs/common-workflows/administration/server-management/manage-fences/create-fence.md
  docs/common-workflows/administration/server-management/manage-fences/delete-specific-fence.md
  docs/common-workflows/administration/server-management/manage-fences/retrieve-list-of-fences.md
  docs/common-workflows/administration/server-management/manage-fences/retrieve-specific-fence.md
  docs/common-workflows/administration/server-management/manage-fences/update-specific-fence.md
  docs/common-workflows/analytics/use-prompts-objects/answer-prompts.md
  docs/common-workflows/modeling/manage-dossier-themes/apply-dossier-theme.md
  docs/common-workflows/modeling/manage-dossier-themes/dossier-theme-instance-creation.md
  docs/common-workflows/modeling/manage-dossier-themes/get-dossier-theme-json.md
  docs/common-workflows/modeling/manage-dossier-themes/manage-dossier-themes.md
  docs/common-workflows/modeling/manage-dossier-themes/save-dossier-themes.md
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

update sidebar
  docs/common-workflows/modeling/manage-dossier-themes/manage-dossier-themes.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update documentation (#47)
  docs/common-workflows/administration/distribution-services/manage-subscriptions/create-subscription-with-prompted-content.md
  docs/common-workflows/administration/manage-history-lists/get-history-list/get-history-list.md
  docs/common-workflows/administration/manage-history-lists/manage-history-lists.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/edit-migrations-and-migration-groups.md
  docs/common-workflows/administration/server-management/manage-fences/create-fence.md
  docs/common-workflows/administration/server-management/manage-fences/delete-specific-fence.md
  docs/common-workflows/administration/server-management/manage-fences/retrieve-list-of-fences.md
  docs/common-workflows/administration/server-management/manage-fences/retrieve-specific-fence.md
  docs/common-workflows/administration/server-management/manage-fences/update-specific-fence.md
  docs/common-workflows/analytics/use-prompts-objects/answer-prompts.md
  docs/common-workflows/modeling/manage-dossier-themes/apply-dossier-theme.md
  docs/common-workflows/modeling/manage-dossier-themes/dossier-theme-instance-creation.md
  docs/common-workflows/modeling/manage-dossier-themes/get-dossier-theme-json.md
  docs/common-workflows/modeling/manage-dossier-themes/manage-dossier-themes.md
  docs/common-workflows/modeling/manage-dossier-themes/save-dossier-themes.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

remove risky console log
  scripts/copyTo.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

remove risky console log (#51)
  scripts/copyTo.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

US538739; Update yarn.lock
  yarn.lock
Due: none

fix lint issues
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
  docs/common-workflows/analytics/manage-insights/get-kpi.md
  docs/common-workflows/analytics/retrieve-data-from-the-intelligence-server/workflow-retrieve-data-from-the-intelligence-server.md
  docs/common-workflows/analytics/use-prompts-objects/answer-prompts.md
  docs/common-workflows/modeling/manage-prompt-objects/create-a-prompt-within-a-changeset.md
  docs/common-workflows/modeling/manage-prompt-objects/update-a-prompts-definition-within-a-changeset.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

fix issues found by build
  docs/common-workflows/analytics/manage-dossiers/create-instance/create-instance.md
  docs/common-workflows/analytics/manage-dossiers/manage-dossiers.md
  docs/common-workflows/modeling/manage-derived-element-objects/format-samples.md
  docs/common-workflows/modeling/manage-dossier-themes/manage-dossier-themes.md
  docs/common-workflows/modeling/manage-security-filter-objects/create-a-security-filter-object-using-a-custom-expression.md
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

add documents for bot APIs
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/get-bot-configuration.md
  docs/common-workflows/analytics/use-bot-api/get-bot-question-list.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

refine bot APIs doc
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

refine bot APIs doc
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/get-bot-configuration.md
  docs/common-workflows/analytics/use-bot-api/get-bot-question-list.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

fix lint error for bot API docs
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/get-bot-configuration.md
  docs/common-workflows/analytics/use-bot-api/get-bot-question-list.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Add documents for bot APIs (#55)
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/get-bot-configuration.md
  docs/common-workflows/analytics/use-bot-api/get-bot-question-list.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

update
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/create-a-cube-object.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/update-a-cube-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/create-an-irr.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/manage-incremental-refresh-report.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-an-irr-definition.md
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

update
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/update-a-cube-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-an-irr-definition.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

update
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update FFSQL cube/irr documentation (#56)
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/create-a-cube-object.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/update-a-cube-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/create-an-irr.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/manage-incremental-refresh-report.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-an-irr-definition.md
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update use-bot-api.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update Document
  README.md
  contributing/content-style-guide.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-suggested-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/get-image-of-answer.md
  docs/common-workflows/analytics/question-with-bot-routing-api/get-question-from-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/question-api.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
  docs/common-workflows/modeling/common-object-management/manage-object-acl.md
  docs/images/manage_objects_attribute.png
  docs/images/manage_objects_workstation.png
  docs/images/workstation_updated_ACL.png
  docs/whats-new.md
  package.json
  scripts/copyTo.js
  sidebars.js
  yarn.lock
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update
  README.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update Document (#59)
  README.md
  contributing/content-style-guide.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-suggested-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/get-image-of-answer.md
  docs/common-workflows/analytics/question-with-bot-routing-api/get-question-from-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/question-api.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
  docs/common-workflows/modeling/common-object-management/manage-object-acl.md
  docs/images/manage_objects_attribute.png
  docs/images/manage_objects_workstation.png
  docs/images/workstation_updated_ACL.png
  docs/whats-new.md
  package.json
  scripts/copyTo.js
  sidebars.js
  yarn.lock
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc
