Repository MicroStrategy/rest-api-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

.lintstagedrc:

{
  "*.md": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettiermarkdownrc",
    "yarn markdownlint"
  ],
  "*.js": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettierrc"
  ]
}

added missing items in sidebar
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

added missing items in sidebar (#18)
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

Added "Manage Watch KPI and Insight service privileges"
  docs/common-workflows/server-level-privileges/watch-kpi-insight-service-privileges.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

Added "Manage Watch KPI and Insight service privileges" (#19)
  docs/common-workflows/server-level-privileges/watch-kpi-insight-service-privileges.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

Updated type parameter for use-prompts-objects default
  docs/common-workflows/analytics/use-prompts-objects/answer-prompts.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint

Updated type parameter for use-prompts-objects default (#23)
  docs/common-workflows/analytics/use-prompts-objects/answer-prompts.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint

released 11.3.9 docs
  docs/common-workflows/administration/distribution-services/manage-subscriptions/mobile-subscriptions.md
  docs/common-workflows/administration/manage-application-objects/manage-application-objects.md
  docs/common-workflows/administration/manage-application-objects/manage-application-themes.md
  docs/common-workflows/administration/manage-drivers/manage-drivers.md
  docs/common-workflows/administration/manage-drivers/retrieve-a-driver-definition.md
  docs/common-workflows/administration/manage-drivers/retrieve-drivers.md
  docs/common-workflows/administration/manage-drivers/update-a-driver-definition.md
  docs/common-workflows/administration/manage-gateways/manage-gateways.md
  docs/common-workflows/administration/manage-gateways/retrieve-a-gateway-definition.md
  docs/common-workflows/administration/manage-gateways/retrieve-gateways.md
  docs/common-workflows/modeling/manage-attribute-objects/get-attribute-applicable-advanced-properties.md
  docs/common-workflows/modeling/manage-attribute-objects/get-attribute-with-advanced-properties.md
  docs/common-workflows/modeling/manage-attribute-objects/manage-attribute-objects.md
  docs/common-workflows/modeling/manage-attribute-objects/update-attribute-advanced-property.md
  docs/common-workflows/modeling/manage-datamart-objects/execute-a-datamart.md
  docs/common-workflows/modeling/manage-datamart-objects/manage-datamart-objects.md
  docs/common-workflows/modeling/manage-metric-objects/create-a-metric-within-a-changeset.md
  docs/common-workflows/modeling/manage-metric-objects/manage-metric-objects.md
  docs/common-workflows/modeling/manage-metric-objects/retrieve-a-metrics-applicable-properties.md
  docs/common-workflows/modeling/manage-metric-objects/retrieve-a-metrics-definition-within-a-changeset.md
  docs/common-workflows/modeling/manage-metric-objects/retrieve-a-metrics-definition.md
  docs/common-workflows/modeling/manage-metric-objects/update-a-metrics-definition-within-a-changeset.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-partition-mapping-table-object.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-table-object.md
  docs/common-workflows/modeling/manage-table-objects/manage-table-objects.md
  docs/common-workflows/modeling/manage-table-objects/retrieve-a-partition-mapping-tables-definition.md
  docs/common-workflows/modeling/manage-table-objects/update-a-partition-mapping-tables-definition.md
  docs/getting-started/rest-api-families.md
  docs/whats-new.md
  scripts/analytics.js
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

released 11.3.9 docs (#27)
  docs/common-workflows/administration/distribution-services/manage-subscriptions/mobile-subscriptions.md
  docs/common-workflows/administration/manage-application-objects/manage-application-objects.md
  docs/common-workflows/administration/manage-application-objects/manage-application-themes.md
  docs/common-workflows/administration/manage-drivers/manage-drivers.md
  docs/common-workflows/administration/manage-drivers/retrieve-a-driver-definition.md
  docs/common-workflows/administration/manage-drivers/retrieve-drivers.md
  docs/common-workflows/administration/manage-drivers/update-a-driver-definition.md
  docs/common-workflows/administration/manage-gateways/manage-gateways.md
  docs/common-workflows/administration/manage-gateways/retrieve-a-gateway-definition.md
  docs/common-workflows/administration/manage-gateways/retrieve-gateways.md
  docs/common-workflows/modeling/manage-attribute-objects/get-attribute-applicable-advanced-properties.md
  docs/common-workflows/modeling/manage-attribute-objects/get-attribute-with-advanced-properties.md
  docs/common-workflows/modeling/manage-attribute-objects/manage-attribute-objects.md
  docs/common-workflows/modeling/manage-attribute-objects/update-attribute-advanced-property.md
  docs/common-workflows/modeling/manage-datamart-objects/execute-a-datamart.md
  docs/common-workflows/modeling/manage-datamart-objects/manage-datamart-objects.md
  docs/common-workflows/modeling/manage-metric-objects/create-a-metric-within-a-changeset.md
  docs/common-workflows/modeling/manage-metric-objects/manage-metric-objects.md
  docs/common-workflows/modeling/manage-metric-objects/retrieve-a-metrics-applicable-properties.md
  docs/common-workflows/modeling/manage-metric-objects/retrieve-a-metrics-definition-within-a-changeset.md
  docs/common-workflows/modeling/manage-metric-objects/retrieve-a-metrics-definition.md
  docs/common-workflows/modeling/manage-metric-objects/update-a-metrics-definition-within-a-changeset.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-partition-mapping-table-object.md
  docs/common-workflows/modeling/manage-table-objects/create-a-new-table-object.md
  docs/common-workflows/modeling/manage-table-objects/manage-table-objects.md
  docs/common-workflows/modeling/manage-table-objects/retrieve-a-partition-mapping-tables-definition.md
  docs/common-workflows/modeling/manage-table-objects/update-a-partition-mapping-tables-definition.md
  docs/getting-started/rest-api-families.md
  docs/whats-new.md
  scripts/analytics.js
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

Fixing link errors. Adding apache 2.0 license
  .env.enterprise
  LICENSE
  docs/common-workflows/analytics/filter-data/filter-dossier-instances/apply-filters-to-a-dossier.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/create-an-irr-with-advanced-properties.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/create-an-irr.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition-with-advanced-properties.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-applicable-properties-of-an-incremental-refresh-report.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-irr-advanced-properties.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/create-a-derived-element-in-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/create-a-new-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/delete-a-derived-element-in-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/execute-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/put-a-derived-element-in-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/retrieve-applicable-properties-of-a-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/update-the-definition-of-an-existing-report.md
  docs/common-workflows/analytics/manage-selectors/manage-selectors.md
  docs/common-workflows/analytics/manage-selectors/set-selector-type.md
  docs/common-workflows/analytics/retrieve-data-from-the-intelligence-server/workflow-retrieve-data-from-the-intelligence-server.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-dataset-sql.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-visualization-query-details.md
  docs/common-workflows/modeling/manage-datamart-objects/create-a-datamart-from-a-source-report.md
  docs/common-workflows/modeling/manage-datamart-objects/create-a-datamart-from-scratch.md
  docs/common-workflows/modeling/manage-datamart-objects/retrieve-a-datamart-definition.md
  docs/common-workflows/modeling/manage-datamart-objects/retrieve-applicable-properties-of-a-datamart.md
  docs/common-workflows/modeling/manage-datamart-objects/update-a-datamart-definition.md
  package.json
  scripts/lint_external_links.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

Fixing link errors. Adding apache 2.0 license (#28)
  .env.enterprise
  LICENSE
  docs/common-workflows/analytics/filter-data/filter-dossier-instances/apply-filters-to-a-dossier.md
  docs/common-workflows/analytics/manage-datasets/manage-cube-objects/retrieve-a-cube-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/create-an-irr-with-advanced-properties.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/create-an-irr.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition-with-advanced-properties.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/retrieve-applicable-properties-of-an-incremental-refresh-report.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-an-irr-definition.md
  docs/common-workflows/analytics/manage-reports/manage-incremental-refresh-report/update-irr-advanced-properties.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/create-a-derived-element-in-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/create-a-new-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/delete-a-derived-element-in-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/execute-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/put-a-derived-element-in-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/retrieve-applicable-properties-of-a-report.md
  docs/common-workflows/analytics/manage-reports/manage-report-objects/update-the-definition-of-an-existing-report.md
  docs/common-workflows/analytics/manage-selectors/manage-selectors.md
  docs/common-workflows/analytics/manage-selectors/set-selector-type.md
  docs/common-workflows/analytics/retrieve-data-from-the-intelligence-server/workflow-retrieve-data-from-the-intelligence-server.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-dataset-sql.md
  docs/common-workflows/analytics/retrieve-sql-statements-and-query-details/retrieve-visualization-query-details.md
  docs/common-workflows/modeling/manage-datamart-objects/create-a-datamart-from-a-source-report.md
  docs/common-workflows/modeling/manage-datamart-objects/create-a-datamart-from-scratch.md
  docs/common-workflows/modeling/manage-datamart-objects/retrieve-a-datamart-definition.md
  docs/common-workflows/modeling/manage-datamart-objects/retrieve-applicable-properties-of-a-datamart.md
  docs/common-workflows/modeling/manage-datamart-objects/update-a-datamart-definition.md
  package.json
  scripts/lint_external_links.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

added documentation for editing migration API
  docs/common-workflows/administration/migrations/migrations-in-workstation/edit-migrations-and-migration-groups.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/migrations-in-workstation.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

added documentation for editing migration API (#29)
  docs/common-workflows/administration/migrations/migrations-in-workstation/edit-migrations-and-migration-groups.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/migrations-in-workstation.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc

Bug bounty test - please ignore.... (ttfjph)
  package.json
Due: none

Update test-deployment.yml
  .github/workflows/test-deployment.yml
Due: none

US496137;Documentation of ability to fetch document definition via REST API workflow
  docs/common-workflows/analytics/manage-documents/manage-documents.md
  docs/common-workflows/analytics/manage-documents/retrieve-document/retrieve-document-definition.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint

Include updates for 2021 Update 10
  .env.enterprise
  .env.internal
  docs/common-workflows/administration/manage-application-objects/manage-application-themes.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/edit-migrations-and-migration-groups.md
  docs/common-workflows/administration/migrations/migrations-in-workstation/object-migration-groups-between-environments.md
  docs/common-workflows/analytics/filter-data/filter-dossier-instances/apply-filters-to-a-dossier.md
  docs/common-workflows/analytics/manage-documents/get-document-list/get-document-list.md
  docs/common-workflows/analytics/manage-documents/manage-documents.md
  docs/common-workflows/analytics/manage-documents/retrieve-document/retrieve-the-hierarchy-of-a-document.md
  docs/common-workflows/analytics/manage-dossiers/create-instance/create-instance.md
  docs/common-workflows/analytics/manage-dossiers/manage-dossiers.md
  docs/common-workflows/analytics/manage-insights/create-kpi.md
  docs/common-workflows/analytics/manage-insights/delete-kpi.md
  docs/common-workflows/analytics/manage-insights/get-kpi.md
  docs/common-workflows/analytics/manage-insights/manage-kpi-and-insights.md
  docs/common-workflows/analytics/manage-insights/modify-kpi.md
  docs/common-workflows/analytics/manage-insights/retrieve-all-insights.md
  docs/common-workflows/analytics/manage-insights/retrieve-an-insight.md
  docs/common-workflows/analytics/manage-insights/retrieve-insight-preferences.md
  docs/common-workflows/analytics/manage-insights/update-insight-preferences.md
  docs/common-workflows/analytics/manage-insights/update-insight-status.md
  docs/common-workflows/analytics/object-discovery/folder-browsing.md
  docs/common-workflows/modeling/common-object-management/change-ownership.md
  docs/whats-new.md
  postman.json
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn prettier --list-different --config ./.prettierrc
