Repository MicroStrategy/rest-api-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

.lintstagedrc:

{
  "*.md": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettiermarkdownrc",
    "yarn markdownlint",
    "yarn lint:sidebar"
  ],
  "*.js": [
    "yarn eslint --quiet",
    "yarn prettier --list-different --config ./.prettierrc"
  ]
}

update
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

update (#60)
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettierrc

Update
  docs/common-workflows/analytics/question-with-bot-routing-api/question-api.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update (#61)
  docs/common-workflows/analytics/question-with-bot-routing-api/question-api.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update
  docs/common-workflows/administration/manage-bookmarks/bulk-deletion/bulk-deletion.md
  docs/common-workflows/administration/manage-bookmarks/create-bookmark/create-bookmark.md
  docs/common-workflows/administration/manage-bookmarks/delete-bookmark/delete-bookmark.md
  docs/common-workflows/administration/manage-bookmarks/get-bookmarks/get-bookmarks.md
  docs/common-workflows/administration/manage-bookmarks/manage-bookmarks.md
  docs/common-workflows/administration/manage-bookmarks/update-bookmark/update-bookmark.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-question-to-bots-in-the-application.md
  docs/whats-new.md
  package.json
  sidebars.js
  yarn.lock
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update (#62)
  docs/common-workflows/administration/manage-bookmarks/bulk-deletion/bulk-deletion.md
  docs/common-workflows/administration/manage-bookmarks/create-bookmark/create-bookmark.md
  docs/common-workflows/administration/manage-bookmarks/delete-bookmark/delete-bookmark.md
  docs/common-workflows/administration/manage-bookmarks/get-bookmarks/get-bookmarks.md
  docs/common-workflows/administration/manage-bookmarks/manage-bookmarks.md
  docs/common-workflows/administration/manage-bookmarks/update-bookmark/update-bookmark.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-question-to-bots-in-the-application.md
  docs/whats-new.md
  package.json
  sidebars.js
  yarn.lock
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-suggested-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update (#63)
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-suggested-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/use-bot-api.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

fix comments
  docs/common-workflows/administration/distribution-services/manage-subscriptions/create-and-get-a-subscription.md
  docs/common-workflows/administration/distribution-services/manage-subscriptions/create-subscription-for-multi-content.md
  docs/common-workflows/administration/distribution-services/manage-subscriptions/create-subscription-with-prompted-content.md
  docs/common-workflows/administration/manage-licensing/license-audit-compliance.md
  docs/common-workflows/administration/server-management/server-level-privileges/manage-server-level-privileges.md
  docs/common-workflows/analytics/object-discovery/folder-browsing.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

fix comments
  scripts/convert_title_to_sentence_case.py
Due: none

update
  docs/common-workflows/administration/distribution-services/manage-subscriptions/create-and-get-a-subscription.md
  docs/common-workflows/analytics/retrieve-data-from-the-intelligence-server/retrieve-data-from-the-intelligence-server.md
  docs/whats-new.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update
  docs/common-workflows/administration/project-duplication/project-duplication.md
  docs/common-workflows/analytics/auto-bot-api/auto-bot-api.md
  docs/common-workflows/analytics/auto-bot-api/get-image-of-answer.md
  docs/common-workflows/analytics/auto-bot-api/get-question-by-id.md
  docs/common-workflows/analytics/auto-bot-api/get-questions-by-bot.md
  docs/common-workflows/analytics/auto-bot-api/post-question.md
  docs/common-workflows/analytics/auto-bot-api/post-suggestion.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/get-question-from-bots-in-the-application.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/get-bot-configuration.md
  docs/common-workflows/analytics/use-bot-api/get-bot-question-list.md
  docs/getting-started/getting-started.md
  docs/getting-started/oauth2.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update (#66)
  docs/common-workflows/administration/project-duplication/project-duplication.md
  docs/common-workflows/analytics/auto-bot-api/auto-bot-api.md
  docs/common-workflows/analytics/auto-bot-api/get-image-of-answer.md
  docs/common-workflows/analytics/auto-bot-api/get-question-by-id.md
  docs/common-workflows/analytics/auto-bot-api/get-questions-by-bot.md
  docs/common-workflows/analytics/auto-bot-api/post-question.md
  docs/common-workflows/analytics/auto-bot-api/post-suggestion.md
  docs/common-workflows/analytics/question-with-bot-routing-api/ask-question-to-bots-in-the-application.md
  docs/common-workflows/analytics/question-with-bot-routing-api/get-question-from-bots-in-the-application.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-question.md
  docs/common-workflows/analytics/use-bot-api/ask-bot-instance-suggested-question.md
  docs/common-workflows/analytics/use-bot-api/create-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/delete-a-bot-instance.md
  docs/common-workflows/analytics/use-bot-api/get-a-bot-question.md
  docs/common-workflows/analytics/use-bot-api/get-bot-configuration.md
  docs/common-workflows/analytics/use-bot-api/get-bot-question-list.md
  docs/getting-started/getting-started.md
  docs/getting-started/oauth2.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update
  docs/common-workflows/administration/project-duplication/project-duplication.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update (#67)
  docs/common-workflows/administration/project-duplication/project-duplication.md
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar

Update
  docs/common-workflows/administration/migrations/create-and-import-migration-packages/manage-content-group-packages.md
  docs/common-workflows/administration/monitors/project-administration.md
  docs/common-workflows/administration/project-duplication/cross-env-project-duplication.md
  docs/common-workflows/administration/project-duplication/project-duplication.md
  docs/common-workflows/analytics/auto-bot-api/auto-bot-api.md
  docs/common-workflows/analytics/auto-bot-api/get-columns.md
  docs/common-workflows/analytics/auto-bot-api/get-question-by-id.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update (#68)
  docs/common-workflows/administration/migrations/create-and-import-migration-packages/manage-content-group-packages.md
  docs/common-workflows/administration/monitors/project-administration.md
  docs/common-workflows/administration/project-duplication/cross-env-project-duplication.md
  docs/common-workflows/administration/project-duplication/project-duplication.md
  docs/common-workflows/analytics/auto-bot-api/auto-bot-api.md
  docs/common-workflows/analytics/auto-bot-api/get-columns.md
  docs/common-workflows/analytics/auto-bot-api/get-question-by-id.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update
  docs/common-workflows/mosaic/manage-data-model-attribute-objects/manage-data-model-attribute-objects.md
  docs/common-workflows/mosaic/manage-data-model-attribute-objects/retrieve-an-attributes-elements-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-object-acl/manage-data-model-object-acl.md
  docs/common-workflows/mosaic/manage-data-model-object-acl/retrieve-a-data-model-object-acl.md
  docs/common-workflows/mosaic/manage-data-model-object-acl/update-a-data-model-object-acl.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/create-a-security-filter-object-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/delete-a-security-filter-object-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/manage-data-model-security-filter-objects.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/modify-a-security-filters-member-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/retrieve-a-security-filter-definition-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/retrieve-a-security-filters-member-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/retrieve-all-security-filters-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/update-a-security-filter-object-in-data-model.md
  docs/common-workflows/mosaic/mosaic.md
  docs/common-workflows/mosaic/publish/manage-data-model-publish.md
  docs/common-workflows/mosaic/publish/refresh-a-data-model.md
  docs/common-workflows/mosaic/publish/schedule-refresh-a-data-model.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc

Update (#69)
  docs/common-workflows/mosaic/manage-data-model-attribute-objects/manage-data-model-attribute-objects.md
  docs/common-workflows/mosaic/manage-data-model-attribute-objects/retrieve-an-attributes-elements-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-object-acl/manage-data-model-object-acl.md
  docs/common-workflows/mosaic/manage-data-model-object-acl/retrieve-a-data-model-object-acl.md
  docs/common-workflows/mosaic/manage-data-model-object-acl/update-a-data-model-object-acl.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/create-a-security-filter-object-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/delete-a-security-filter-object-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/manage-data-model-security-filter-objects.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/modify-a-security-filters-member-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/retrieve-a-security-filter-definition-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/retrieve-a-security-filters-member-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/retrieve-all-security-filters-in-data-model.md
  docs/common-workflows/mosaic/manage-data-model-security-filter-objects/update-a-security-filter-object-in-data-model.md
  docs/common-workflows/mosaic/mosaic.md
  docs/common-workflows/mosaic/publish/manage-data-model-publish.md
  docs/common-workflows/mosaic/publish/refresh-a-data-model.md
  docs/common-workflows/mosaic/publish/schedule-refresh-a-data-model.md
  docs/whats-new.md
  sidebars.js
Due: yarn eslint --quiet, yarn prettier --list-different --config ./.prettiermarkdownrc, yarn markdownlint, yarn lint:sidebar, yarn prettier --list-different --config ./.prettierrc
